header {
    text-align: center;
    background: cornflowerblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
 
 }
 
 h5 {
     font-size: 30px;
     color: indianred;
     font-weight: 600;
     font-family: Georgia, 'Times New Roman', Times, serif;
 }
 
 body {
     background: url("https://cdn.pixabay.com/photo/2015/10/22/15/59/magnifying-glass-1001506_1280.jpg");
 }
 
 td {
     background: white;
     opacity: 0.7;
 
 }
 
 .button {
     position: relative;
     padding: 10px 75px;
     background: #cd5c5c;
     margin: 5px;
    
 }
 .button :hover{
     color: black;
     font-size: large;
     background: seagreen;
 }

 #btn {
     text-align: center;
     background-color: powderblue;
     font-family: 'Courier New', Courier, monospace;
     font-weight: 400;
     Margin: 5px;
     padding: 10px;
    
     
 }

 
 i .fa {
     margin: 5px;
 }
 
 a .fa{
     margin: 10px;
     
 }

 #btn .btn-primary button {
     background: coral;
 }
 
 #add {
     float: right;
     font-weight: 600;
     color: blanchedalmond;
 }
 #add :hover{
     color: darkgreen;
 }
 
 #submit{
     color: blanchedalmond;
     font-weight: 600;
 }

 a.btn{
     margin: 5px;
     padding: 10px;
     color: white;
 }
